<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>fileshare</title>
</head>

<body>
  <h1>fileshare</h1>

  <h2>Available Files</h2>
  <ul>
    {{ range .availableFiles }}
    <li>
      <a href="/download/{{ .Id }}"  download="{{ .Name }}">{{ .Name }}</a>
    </li>
    {{ else }}
    <li>No files available.</li>
    {{ end }}
  </ul>

  <h2>Upload File</h2>
  <form id="uploadForm">
    <input type="file" value="Choose file" name="file">
    <br>
    <input type="submit" value="Upload">
  </form>
  <script>
    document.getElementById("uploadForm").addEventListener("submit", async (e) => {
      e.preventDefault();

      const formData = new FormData(e.target);
      if (!formData.get('file')['name']) {
        return;
      }
      fetch("/upload", {
          method: "POST",
          body: formData,
      }).then(res => {
        if (res.ok) {
            window.location.href = "/";
        } else {
          console.error("Server error:", res);
          alert("Something went wrong!");
        }
      }).catch(err => {
        console.error("Upload error:", err);
        alert("Something went wrong!");
      })
    });
  </script>

</body>

</html>
