<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Fileshare</title>
</head>

<body>
  <header>
    <h1><a href="/">Fileshare</a></h1>
  </header>

  <h2>Upload File</h2>
  <div id="loader"></div>
  <form id="uploadForm">
    <input type="file" name="file" id="fileInput">
  </form>
  <script>
    const loader = document.getElementById("loader");
    const fileInput = document.getElementById("fileInput");

    fileInput.addEventListener("change", async (e) => {
      e.preventDefault();
      loader.style.display = "flex";
      fileInput.style.display = "none";

      const formData = new FormData(document.getElementById("uploadForm"));
      if (!formData.get('file')['name']) {
        return;
      }
      fetch("/upload", {
          method: "POST",
          body: formData,
      }).then(res => {
        if (res.ok) {
            window.location.href = "/";
        } else {
          console.error("Server error:", res);
          alert("Something went wrong!");
        }
      }).catch(err => {
        console.error("Upload error:", err);
        alert("Something went wrong!");
      })
    });
  </script>
  <h2>Available Files</h2>
  <script>
    async function deleteFile(e, id) {
      e.preventDefault();

      fetch(`/delete/${id}`, {method: "POST"}).then(res => {
        if (res.ok) {
            window.location.href = "/";
        } else {
          console.error("Server error:", res);
          alert("Something went wrong!");
        }
      }).catch(err => {
        console.error("Deletion error:", err);
        alert("Something went wrong!");
      })
    }
  </script>
  <ul>
    {{ range .availableFiles }}
    <li>
      <a href="/download/{{ .Id }}"  download="{{ .Name }}">{{ .Name }}</a>
      <form onsubmit="deleteFile(event, {{ .Id }})">
        <input type="submit" value="Delete file">
      </form>
    </li>
    {{ else }}
    <li>No files available.</li>
    {{ end }}
  </ul>
</body>

</html>
